body{
	background-size: 250px; 
	background-image:url(image/haut.png);
		background-position:center top;
	background-repeat: repeat-x;
	background-color:#333333;
	margin:0;
}
#logo{
	background-size:160px;
	height:260px;
	margin-top:-25px;
	margin-bottom:31px;
	background-image: url(image/logo.png);
	background-position:center;
	background-repeat: no-repeat;
}
#bordure{
	margin-left:85%;
	margin-top:67px;
	height:1000px;
	background-color:#333333;
	border-style:solid;
	border-radius: 3px;
	border-width: 2px;
    border-color:#000000;
}
#nom{
	font-size:200%;
	color: white;
	margin-top:-190px;
	margin-left:20%;
	font-weight: bold;
}
#connexion ul{
 padding:0;
 margin:0;
 list-style-type:none;
 }
#connexion {
 margin-top:-80%;
 margin-left:80%;
 float:left; /*pour IE*/
 }
#connexion ul li {
 display:inline;  
 width:100px;
 background-color:#6495ED;
 color:black;
 text-align:center;
 }
#connexion ul li a:hover {
 background-color:#D3D3D3;
 }
a{
 	 text-decoration:none;
 	 color:#FFFFFF;
 }